main{
    padding-top: 32px;
    margin: 0 auto;
    .title{
        margin-bottom: 48px;
        span{
            vertical-align: middle;
            color: $success;
        }
        a{
            color: #000;
            text-decoration: none;
            &:hover{
                opacity: 0.6;
            }
        }
    }
    .title-link span{
        color: #000;
    }
    table{
        span{
            color: #000;
        }
        a{
            text-decoration: none;
            color: #000;
            &:hover{
                opacity: 0.6;
                color: #000;
            }
        }
    }
    .page-link {
        color: $success;
    }
    .page-item.active .page-link {
        background-color: $success;
        border-color: $success;
    }
}